@charset "utf-8";

@import url('utility.css');

/* font */
@font-face {
  font-family: NanumBarunGothic;
  src: url('../fonts/NanumBarunGothic.ttf') format('truetype');
}
@font-face {
  font-family: NanumBarunGothicBold;
  src: url('../font/NanumBarunGothicBold.ttf') format('truetype');
}
@font-face {
  font-family: NanumBarunGothicLight;
  src: url('../font/NanumBarunGothicLight.ttf') format('truetype');
}
@font-face {
  font-family: NanumBarunGothicExtraLight;
  src: url('../font/NanumBarunGothicExtraLight.ttf') format('truetype');
}

/* style */
/* NEW:: css 작업 시작 때 box-sizing으로 설정하는 것이 좋다 */
* {
  margin: 0;
  padding: 0;
  color: black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'NanumBarunGothic', '맑은 고딕', 'HelveticaNeue';
}

/* header */
/* main */
/* footer */
